mark
{
	background-color: red;
	color: red;
}

#behind-image-1-div{
	position: absolute;
	top: 1%;
	height: 95%;
	width: 100%;
}
#behind-image-1{
	position: absolute;
	top: 0%;
	width: 100%;
	height: 100%;
	margin-top: 50px;
	z-index: 1;
	opacity: .5;
}
#behind-image-1-info{
	position: relative;
	margin-top: 65%;
	left: 20px;
	width: 90%;
	color: white;
	z-index: 2;
	font-size: 20px;
	background-color: rgba(0, 0, 0, 0.6);
}
#uncle-ben
{
	position: relative;
	margin-top: 0%;
	margin-left: 55%;
	width: 40%;
	background-color: rgba(0, 0, 0, 0.6);
	font-size: 18px;
	z-index: 2;
	color: white;
}
#behind-image-1-info-2{
	position: relative;
	margin-top: 40%;
	left: 10px;
	font-size: 20px;
	color: white;
	width: 95%;
	z-index: 2;
}

#info-1{
		position: relative;
		margin-top: 200%;
		width: 95%;
		margin-left: 5%;
	}
#logo-icon-home{
        position: relative;
        margin-top: 100%;
        font-size: 55px;
        margin-left: -40px;
	}
	#wdd-icon-home{
		position: absolute;
		animation: changecolor 5s infinite;
		margin-top: -25px;
		margin-left: 10px;
		font-size: 13px;
	}

#info-container-inside
	{
		height: 400px;
		margin-top: 20%;
		background-color: rgba(0, 0, 255, .2);
		z-index: 3;
	}
	#info-container{
		position: absolute;
		font-size: 25px;
		text-align: center;
		width: 100%;
		color: black;
		border-radius: 4px;
		margin-top: 15px;
	}
	#info-container-more{
		position: absolute;
		padding: 15px;
		font-size: 19px;
		color: white;
		width: 100%;
		margin-top: 50px;
		padding-left: 15px;
	}
#info-2{
		position: absolute;
		color: black;
		background-color: white;
		width: 100%;
	}
#info-2_1{
		background-color: rgba(0, 0, 0, .2);
		overflow: hidden;
		height: 430px;
	}
	#info-2_2{
		background-color: rgba(255, 0, 0, .2);
		overflow: hidden;
		height: 400px;
	}
#why{
		font-size: 30px;
		letter-spacing: 2px;
		color: rgba(0, 0, 0, 1);
		text-align: center;
		margin-top: 10px;
		width: 100%;
		text-align: center;
	}
	#because{
		padding: 10px;
		color: white;
		margin-top: 10px;
		font-size: 19px;
		width: 97%;
		margin-left: 2%;
	}

	#what-we-do{
		margin-top: 15px;
		font-size: 30px;
		color: black;
		width: 100%;
		padding-left: 20px;
		text-align: center;
	}
	#we-do-this{
		color: white;
		padding: 10px;
		font-size: 18px;
		border-radius: 5px;
		margin-top: 20px;
		width: 100%;
	}
#info-3
{
	margin-top: calc(200% + 100px);
	position: relative;
	background-color: rgba(0, 0, 0, 0.5);

}
#info-3-info{
	width: 100%;
	text-align: center;
	font-size: 18px;
	color: white;
	position: relative;
	top: 24px;
}
#space{
	width: 100%;
	height: 20px;
	background-color: white;
	position: relative;
	top: 30px;
}
#info-3 img{
	position: relative;
	width: 99%;
	margin-top: 30px;
	border: 2px solid rgba(0, 0, 0, .5);
}

#info-3 span{
	width: 100%;
	text-align: center;
	font-size: 30px;
	position: absolute;
	margin-top: -8px;
	color: rgba(255, 255, 255, 0.9);
}
#school-management span{
	font-size: 14px;
	margin-top: 3px;
}
#info-4{
	position: relative;
	background-color: rgba(0, 0, 255, 0.1);
	height: 600px;
}
#info-4-data{
	position: absolute;
	margin-top: 10%;
	width: 95%;
	left: 2.5%;
	padding: 5px;
	border: 1px solid rgba(0, 0, 255, .3);
	background-color: rgba(0, 0, 255, 0.1);
	font-size: 17px;
	color: white;
	font-weight: bold;
}
#form-1{
		position: absolute;
		margin-top: 65%;
	}
	#name{
		position: relative;
		left: 5%;
		width: 90%;
		border: none;
		font-size: 20px;
		background-color: transparent;
		border-bottom: 1px solid black;
	}
	#msg:focus{
		border: 1px solid rgba(0, 0, 0, 1);
	}#name:focus{
		border:none;
	}#email:focus{
		border: 2px solid blue;
	}
	#email{
		position: relative;
		margin-top: 10px;
		left: 5%;
		width: 90%;
		border: none;
		background-color: transparent;
		border-bottom: 1px solid black;
		font-size: 20px;
	}
	#msg{
		position: relative;
		left: 5%;
		margin-top: 10px;
		font-size: 20px;
		width: 90%;
		border: none;
		background-color: transparent;
		border-bottom: 1px solid black;
		resize: none;
	}
	#send{
		position: relative;
		margin-left: 10%;
		border-radius: 2px;
		background-color: rgba(0, 0, 255, .1);
		border: 1px solid rgba(0, 0, 255, .3);
		transform: scale(1.3);
		box-shadow: none;

	}
#space-to-footer{
	width: 300px;
	height: 300px;
	background-color:white;
	position: relative;
	top: 5px;
}
